.chattingarea{
  height: 30vh;
  min-height: 300px;
  overflow: auto;
}

.inputarea{
  height: 20vh;
  min-height: 150px;
}

.chattingmessagefriend{
  background: white;
}

.chattingmessageme{
  background: rgb(255, 255, 255);
}

.chattingmessage{
  display:inline-block;
  max-width: 200px;
  height: 70px;
}

.chattingmessagepopfriend{
  border: 0.5px solid rgb(31, 168, 192);
  max-width: 200px;
  border-radius: 10px;
  padding: 5px 5px;
  margin: 4px;
}

.chattingmessagepopme{
  display:inline-block;
  border: 0.5px solid rgb(31, 168, 192);
  max-width: 200px;
  border-radius: 10px;
  padding: 5px 5px;
  margin: 4px;
}

.chattingmessagename{
  max-width: 200px;
  height: 20px;
}


.chattinggrouparea {
  display: inline-table;
}

.chattinggroupchattingarea {
  display: inline-block;
  height: 30vh;
  min-height: 300px;
  overflow: auto;
  width: 400px;
}

.chattinggroupshowmember{
  display: inline-block;
  height: 30vh;
  min-height: 300px;
  overflow: auto;
  width: 70px;
}

.groupmembershowstyle {
  width: 60px;
  text-align: center;
}

.usernamefont{
  font-family:'黑体, 宋体(GB)';
  font-size: larger;
  font-weight: bold;
}

.useraccountfont {
  font-family: '黑体, 宋体(GB)';
  font-size: small;
  font-weight:lighter;
  font-style: normal;
  color: rgb(102, 98, 98);
}

.changeAvatarBody {
  width: 472px;
  text-align: center;
}

.changeuserinfobody {
  width: 472px;
  text-align: center;
}